<div class="contact">
    <div class="contactTitle">
        <hr />
        <h1>Conctact</h1>
    </div>

    <div class="contact-fields">
        <div class="contact-field-left">
            <h2>Got a Problem!</h2>
            <div>
                <p>
                    Encourage people to contact you and describe what role you are
                    interested in. Show that you will add value to their projects through
                    your work.
                </p>
                <p>Need a Frontend developer? <strong>Contact me!</strong></p>
            </div>
        </div>

        <div>
            <input class="contact-input hover" type="text" placeholder="Your name" />
            <input class="contact-input hover" type="text" placeholder="Your email" />
            
            <div class="contact-message">
                <input class="contact-input inputResponsiv hover" type="text" placeholder="Your massage" />
                <label class="container" for="Privacypolicy">
                    <mat-checkbox class="matBox"></mat-checkbox>
                    <p>
                        I've read the
                        <a href="" style="color: #9747FF; cursor: pointer;">privacy policy</a>
                        and agree to the processing of my data as outlined.
                    </p>
                </label>
            </div>

            <div class="sendBtn-Div">
                <button class="sendBtn">
                    Send Message :)
                </button>
            </div>

            <div class="scrollUpDiv">
                <a href="#landingPage">
                    <img src="./../../../assets/img/icons/scroll-to-landingpage.svg" alt="">
                    <img src="./../../../assets/img/icons/scroll-to-landingpage-hover.svg" alt="">
                </a>
            </div>

        </div>

    </div>

</div>