<div class="contact">
    <div class="contactTitle">
        <hr />
        <h1>Contact</h1>
    </div>

    <div class="contact-fields">
        <div class="contact-field-left">
            <h2>Got a Problem!</h2>
            <div>
                <p>
                    Encourage people to contact you and describe what role you are
                    interested in. Show that you will add value to their projects through
                    your work.
                </p>
                <p>Need a Frontend developer? <strong>Contact me!</strong></p>
            </div>
        </div>

        <form  (ngSubmit)="onSubmit()">

            <input type="text" id="name" name="name" class="contact-input hover" (change)="checkInput(inputName = true)" [(ngModel)]="contactData.name" [ngClass]="{'inputWarning' : inputName, 'inputAcception' : inputOk}" type="text" placeholder="Your name" />

            <input type="email" id="email" name="email" class="contact-input hover" (click)="checkInput(inputMail = true)" [(ngModel)]="contactData.email" [ngClass]="{'inputWarning' : inputMail, 'inputAcception' : inputOk}" type="text" placeholder="Your email" />
            
            <textarea type="message" id="message" name="text" class="hover contact-input" (click)="checkInput(inputMessage = true)" [(ngModel)]="contactData.message" [ngClass]="{'inputWarning' : inputMessage, 'inputAcception' : inputOk}" style="background-position: top right !important;"  rows="14" cols="10" wrap="soft" placeholder="Your massage" ></textarea>
            
            <div class="contact-message">

                <label class="container">
                    <mat-checkbox class="matBox"></mat-checkbox>
                    <p>
                        I've read the
                        <a href="privacyPolicy" class="privacyPolicyBtn">privacy policy</a>
                        and agree to the processing of my data as outlined.
                    </p>
                </label>
            </div>
            <!-- 
                <button type="submit" class="sendBtn" (ngSubmit)="onSubmit()" disabled>
                    Send Message :)
                </button> 
            -->
            <div class="sendBtn-Div">
                <input type="submit" value="Send Message :)" class="sendBtn" [ngClass]="activateBtn ? ['active'] : ''">
            </div>

            <div class="scrollUpDiv">
                <a href="#landingPage">
                    <img src="./../../../assets/img/icons/scroll-to-landingpage.svg" alt="">
                    <img src="./../../../assets/img/icons/scroll-to-landingpage-hover.svg" alt="">
                </a>
            </div>

        </form>

    </div>

    <img src="./../../../assets/img/shapes/Purple_shadow_contact.svg" class="contact-shape" alt="">

</div>