<div class="comment-box">
    <div>
        <div class="comment">
            <div>
                Comment comes here! Weiters aber erst ab morgen abrufbar, bitte verzeihen sie die Umstände. Liebe Grüße Euer Team!
            </div>
            <div>
                <hr>
                <p>N.Hey - Team Partner</p>
            </div>
        </div>
        <div class="commentImage-Box">
            <div class="commentImage">
                <img src="./../../../../assets/img/hero character photo.png" alt="">
            </div>
            <hr>
        </div>
    </div>

    <div>
        <div class="comment-swiper">
            <div class="comment-swiper-div">
                <img src="./../../../../assets/img/icons/swipe-arrow.svg" style="rotate: 180deg;"  alt="">
            </div>
            <div class="comment-dot"></div>
            <div class="comment-dot"></div>
            <div class="comment-dot"></div>
            <div class="comment-swiper-div">
                <img src="./../../../../assets/img/icons/swipe-arrow.svg" alt="">
            </div>
        </div>
    </div>

    <img src="./../../../../assets/img/shapes/commentSign.png" alt="">

</div>
