@import './../../../styles.scss';

.burger-menu {
    background-color: blue;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: unset;
    z-index: 4;
    margin-top: 113px;
}

.navLinks {
    display: flex;
    flex-direction: column;
    font-size: 23px;
    gap: 29px;
    @include underline();
    :nth-child(2) {
        @include underline(100%);
    }
    a {
        &:hover {
            color: $green;
        }
    }
}

.languageBtns {
    display: flex;
    gap: 14px;
    button {
        font-size: 18px;
        color: $white;
        cursor: pointer;
        border: none;
        background-color: transparent;
        padding: inherit;
    }
    .active {
        font-weight: 700;
        color: $green;
    }
}

.half-underline {
    display: inline;
    position: relative;
    padding-bottom: 3px;
}