<div class="portfolio">
    <div class="portfolio-head">
        <div>
            <hr>
        </div>
        <h1>Portfolio</h1>
        <div>
            <hr>
        </div>
    </div>

    <p>
        {{daten.Portfolio.information}}
    </p>

    <div class="projectContainers">
        <img src="./../../../assets/img/shapes/Purple_shadow_portfolio.svg" class="project-shape" alt="">
        @for (Project of daten.Portfolio.Projects; track daten.Portfolio.Projects; let index = $index; let last = $last) {
            <div class="project" [ngStyle]="{'flex-direction' : index % 2 ? 'row-reverse' : ''}">
                @if (last) {
                    <div class="coming-soon">
                        {{daten.UpcommingProject}}
                    </div>
                }
                <div class="projectImage" [ngStyle]="{'filter': last ? 'blur(1px) brightness(0.5) opacity(0.5)' : ''}">
                    <img src="{{Project.image}}" alt="">
                </div>
                <div class="projectDetails" [ngStyle]="{ 'align-items': index % 2 ? 'end' : '', 'text-align': index % 2 ? 'end' : '' , 'filter': last ? 'blur(1px) brightness(0.5) opacity(0.5)' : ''}">
                    <div>    
                        <span>
                            {{Project.name}}
                        </span>
                        <div class="projectDescription" [ngStyle]="{'justify-content' : index % 2 ? 'flex-end' : ''}">
                            @for (language of daten.Portfolio.Projects[index].languages; track $index; let last = $last) {
                                @switch (true) {
                                    @case (last) {
                                        <p>
                                            {{language}}
                                        </p>
                                    }
                                    @default {
                                        <p>
                                            {{language}} 
                                        </p>
                                        <hr>
                                    }
                                }
                            }
                        </div>
                        <p>
                            {{Project.description}}
                        </p>
                    </div>
                    @if (!last) {
                        <div class="portfolioBtns">
                            <a href="{{Project.livetest}}">
                                <button>
                                    Live test
                                </button>
                            </a>
                            <a href="{{Project.github}}">
                                <button>
                                    Github
                                </button>
                            </a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>

    <app-comment-section class="comment-section"></app-comment-section>
</div>