@import './../../../styles.scss';


.portfolio {
    width: 100%;
    max-width: $maxWidth;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gapTitle;
}

.portfolio-head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    width: 100%;
    h1 {
        font-size: 90px;
        font-weight: 700;
    }
    > hr:nth-child(1) {
        border: none;
        height: 4px;
        width: $paddingLR;
        background-color: $purple;
    }

    > hr:nth-child(3) {
        border: none;
        height: 4px;
        width: calc(45% - $paddingLR - 32px);
        background-color: $purple;
    }
}

.projectDescription {
    display: flex;
    gap: 16px;
    >p {
        font-size: 23px;
        color: $green;
    }
    >hr {
        border: solid $green;
    }
}

.project {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 35px;
}

.projectDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    width: 50%;
    
    >div:nth-child(1) {
        display: flex;
        flex-direction: column;
        gap: 15px;
        >span {
            font-weight: 700;
            font-size: 32px;
            color: $purple;
        }
    }
}

.projectImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.portfolioBtns {
    display: flex;
    gap: 86px;
    z-index: 1;
    :nth-child(1) {
        border: none;
        background-color: $purple;
        padding: 15px 30px;
        border-radius: 10px;
        font-size: 23px;
    }
    :nth-child(2) {
        border: 1px solid $green;
        background-color: $background;
        padding: 15px 30px;
        border-radius: 10px;
        font-size: 23px;
    }
    button {
        cursor: pointer;
        &:hover {
            background-color: $green;
        }
    }
}

.projectContainers {
    display: flex;
    flex-direction: column;
    padding: 0 $paddingLR;
    width: 100%;
}

.comment-section {
    display: flex;
    width: 100%;
}