<div class="portfolio">
    <div class="portfolio-head">
        <div class="animation-duration-500" pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeinleft">
            <hr>
        </div>
        <h1 class="animation-duration-500" pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeinleft">Portfolio</h1>
        <div>
            <hr>
        </div>
    </div>

    <p class="animation-duration-500" pAnimateOnScroll enterClass="fadeindown" leaveClass="fadeindown">
        {{daten.Portfolio.information}}
    </p>

    <div class="projectContainers">
        <img src="./../../../assets/img/shapes/Purple_shadow_portfolio.svg" class="project-shape" alt="">
        @for (Project of daten.Portfolio.Projects; track daten.Portfolio.Projects; let index = $index; let last = $last) {
            <div class="project" [ngStyle]="{'flex-direction' : index % 2 ? 'row-reverse' : ''}">
                <div class="projectImage animation-duration-500" pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeinleft">
                    <img src="{{Project.image}}" alt="">
                </div>
                <div class="projectDetails animation-duration-500" pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeinright"[ngStyle]="{ 'align-items': index % 2 ? 'end' : '', 'text-align': index % 2 ? 'end' : ''}">
                    <div>    
                        <span>
                            {{Project.name}}
                        </span>
                        <div class="projectDescription" [ngStyle]="{'justify-content' : index % 2 ? 'flex-end' : ''}">
                            @for (language of daten.Portfolio.Projects[index].languages; track $index; let last = $last) {
                                @switch (true) {
                                    @case (last) {
                                        <p>
                                            {{language}}
                                        </p>
                                    }
                                    @default {
                                        <p>
                                            {{language}} 
                                        </p>
                                        <hr>
                                    }
                                }
                            }
                        </div>
                        <p>
                            {{Project.description}}
                        </p>
                    </div>
                    <div class="portfolioBtns">
                        <a href="{{Project.livetest}}" target="_blank">
                            <button>
                                Live test
                            </button>
                        </a>
                        <a href="{{Project.github}}" target="_blank">
                            <button>
                                Github
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

    <app-comment-section class="comment-section"></app-comment-section>
</div>