<div class="aboutMe">
    <div class="aboutMe-left">
        <h1>
            {{daten.AboutMe.title}}
        </h1>
        <div>
            <p>
                {{daten.AboutMe.description}}
            </p>
            <div>
                @for (item of daten.AboutMe.subpoints; track $index) {
                    <div class="aboutMe-sections">
                        <img src="{{item.image}}" [ngClass]="$index == 1 ? '' : 'about-hover'" alt="">
                        <p>
                            {{item.description}}
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="aboutMe-right">
        <div>
            <img src="./../../../assets/img/Mesa de trabajo 1 2.png" alt="">
        </div>
        <hr>
        <img src="./../../../assets/img/shapes/Purple-shadow-2.svg" class="about-shape" alt="">
    </div>
</div>

<app-my-skills class="mySkills-section" id="skills"></app-my-skills>