<div class="landingPage">
    <div class="landingPage-hero">
        <img src="./../../../assets/img/shapes/Hero_Background.svg" alt="">
    </div>

    <div class="landingPageTitleHero">
        <div class="landingImage">
            <div class="landingImage-Div">
                <img src="./../../../assets/img/shapes/photo_shadows.svg" alt="">
                <img src="./../../../assets/img/hero character photo.png" alt="">
            </div>
        </div>

        <div class="landingTitle">
            <div class="titleDiv">
                <div class="titleDiv-1">
                    <p>
                        {{daten.LandingPage.article}}
                    </p>    
                </div>
                <div class="titleDiv-2">
                    <p>
                        Niclas Holzhey
                    </p>
                    <p>
                        {{daten.LandingPage.job}}
                    </p>
                </div>
            </div>
            <div class="titleBtnDiv">
                <a href="#contact">
                    <button>
                        Let's talk!
                    </button>
                </a>
            </div>
        </div>
    </div>


    <div class="linksAndScroll">
        <div class="landingPageLinks">
            <hr>

            @for (Link of daten.Links; track $index) {
                @if(Link.path == '#contact') {
                    <a href="{{Link.path}}">
                        <img src="./../../../assets/img/icons/{{Link.image}}.svg" alt="">
                    </a>
                } @else {
                    <a href="{{Link.path}}" target="_blank">
                        <img src="./../../../assets/img/icons/{{Link.image}}.svg" alt="">
                    </a>
                }
            }

            <a href="mailto:holzhey.niclas@gmail.com">holzhey.niclas&#64;gmail.com</a>
        </div>
        <div class="scrollDown">
            <p>
                Scroll {{daten.LandingPage.scroll}} 
            </p>
            <img src="./../../../assets/img/icons/arrow-down-line.svg" alt="">
        </div>
    </div>
</div>