<div class="mySkills">
    <div class="mySkills-left">
        @for (Skills of daten.Skills; track $index) {
            @if (Skills.name == 'Continually Learning') {
                <div class="skillIcons continuallyLearning">
                    <img src="./../../../../assets/img/icons/continually-learning-popup.svg" alt="">
                    <img src="./../../../../assets/img/icons/{{Skills.image}}.svg" alt="">
                    <img src="./../../../../assets/img/icons/{{Skills.image}}-hover.svg" alt="">
                    <span>
                        {{Skills.name}}
                    </span>
                </div>
            } @else {
                <div class="skillIcons skillHover">
                    <img src="./../../../../assets/img/icons/{{Skills.image}}.svg" alt="">
                    <span>
                        {{Skills.name}}
                    </span>
                </div>
            }
        }
    </div>
    <div class="mySkills-right">
        <div>
        <div class="mySkills-right-title">
            <h1>
                {{daten.Portfolio.MySkills.title}}
            </h1>
            <hr>
        </div>
        <div class="mySkills-right-under-title">
            <div>
                <p>
                    Show that you have used a variety of front-end <br>
                    technologies in your projects.
                </p>

                <span>
                    Looking for <span style="color: #9747FF;">another skill</span>?
                </span>
                <p>
                    Reveal enthusiasm for learning new technologies <br>
                    and frameworks.
                </p>
            </div>
            <div class="mySkillsBtn">
                <a href="#contact">
                    <button>
                        Get in touch
                    </button>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>

    <img src="./../../../../assets/img/shapes/Green_shadow_skills.svg" class="skills-shape" alt="">

