@import './../../styles.scss';

h1 {
    font-size: 48px;
}

.privacyPolice-section {
    display: flex;
    justify-content: center;
}

.privacyPolice {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--paddingTB) var(--paddingLR);
    height: calc(100vh - 291px);
    width: 100%;
    max-width: var(--maxWidth);
    align-items: center;
    overflow-y: auto;
    gap: 24px;
    span {
        text-align: center;
    }
}

.background-shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    max-height: fit-content;

}

.background-shape-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    rotate: 180deg;
    z-index: -1;
    height: 100%;
    max-height: fit-content;

}