<div class="imprint-section">
    <div class="imprint">
        <h1>IMPRINT</h1>
        <span>
            <p>
                <strong>Niclas Holzhey</strong>
            </p>
            <p>
                Dessauer Straße 253
            </p>
            <p>
                06886 Lutherstadt Wittenberg
            </p>
            <p>
                Deutschland
            </p>
        </span>
        <span>
            <p>
                <strong>Kontakt</strong>
            </p>
            <p>
                Mobil: +49 176 43860319
            </p>
            <p>
                Email: Holzhey.niclas&#64;gmail.com
            </p>
        </span>
        <span>
            <p>
                <strong>Disclaimer</strong>
            </p>
            <p>
                This is a private website. The content is created with the utmost care; however, I do not assume any
                liability for the accuracy, completeness, or timeliness of the information provided. Links to external
                websites are for informational purposes only, and I am not responsible for their content.
            </p>
        </span>

        <img src="./../../assets/img/shapes/Purple-shadow-2.svg" class="background-shape-1" alt="">
        <img src="./../../assets/img/shapes/Green_shadow_comment.svg" class="background-shape-2" alt="">
    </div>
</div>