@import './../../styles.scss';


.imprint-section {
    display: flex;
    justify-content: center;
}

.imprint {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--paddingTB) var(--paddingLR);
    height: calc(100vh - 291px);
    width: 100%;
    max-width: var(--maxWidth);
    align-items: center;
    overflow-y: auto;
    gap: 24px;
    >:nth-child(2) {
        text-align: start;
    }
    >:nth-child(3) {
        text-align: end;
    }
    >:nth-child(4) {
        text-align: center;
    }
}

.background-shape-1 {
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(180deg);
    height: 100%;
    max-height: fit-content;

}

.background-shape-2 {
    z-index: -1;
    position: absolute;
    right: 0;
    top: -250px;
    height: 100%;
    max-height: fit-content;
}

h1 {
    font-size: 48px;
}
