<div class="navBar">
    <a href="#landingPage">
        <img src="./../../../assets/img/logo.svg" alt="">
    </a>
    <div>
        @if (landingpage) {
            <div class="navLinks">
                <span class="half-underline">
                    <a href="#about">
                        About me
                    </a>
                </span>
    
                <span class="half-underline">
                    <a href="#skills">
                        Skills
                    </a>
                </span>
    
                <span class="half-underline">
                    <a href="#portfolio">
                        Portfolio
                    </a>
                </span>
            </div>
        }
        <div class="languageBtns">
            <button (click)="changeLanguage('de')">
                DE
            </button>
            <button (click)="changeLanguage('en')">
                EN
            </button>
        </div>
    </div>
</div>