<div class="navBar">
    <a href="#landingPage">
        <img src="./../../../assets/img/logo.svg" alt="">
    </a>
    <div>
        @if (landingpage) {
            <div class="navLinks">
                <span class="half-underline">
                    <a href="#about">
                        {{daten.NavBar.aboutMe}}
                    </a>
                </span>
    
                <span class="half-underline">
                    <a href="#skills">
                        {{daten.NavBar.skills}}
                    </a>
                </span>
    
                <span class="half-underline">
                    <a href="#portfolio">
                        Portfolio
                    </a>
                </span>
            </div>
        }
        <div class="languageBtns">
            <button (click)="changeLanguage('de')" [ngClass]="{'active': isActive}">
                DE
            </button>
            <button (click)="changeLanguage('en')" [ngClass]="{'active': !isActive}">
                EN
            </button>
        </div>
    </div>
    <app-burger-menu class="burgerMenu"></app-burger-menu>
</div>