@import './../../../../styles.scss';

.navBar {
    display: flex;
    justify-content: space-between;
    padding: var(--paddingNav) var(--paddingLR);
    max-width: var(--maxWidth);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
    height: fit-content;
    backdrop-filter: blur(5px);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    >div:last-of-type {
        display: flex;
        align-items: center;
        gap: 92px;
        @media (max-width: 1000px) {
            display: none;
        }
    }
}

.burger-menu {
    display: none;
}

.navLinks {
    font-size: 23px;
    display: flex;
    gap: 29px;
    @include underline();
    :nth-child(2) {
        @include underline(100%);
    }
    a {
        &:hover {
            color: $green;
        }
    }
}

.languageBtns {
    display: flex;
    gap: 14px;
    align-items: center;
    button {
        font-size: 18px;
        color: $white;
        cursor: pointer;
        border: 1px solid $green;
        border-radius: 10px;
        background-color: transparent;
        width: 38px;
        height: 32px;
        padding: 5px 8px;
            &:hover {
                border-color: $purple;
                background-color: $purple;
            }
    }
    .BtnsSqare {
        display: none;
    }
    .active {
        font-weight: 700;
        background-color: $green;
    }
}

.languageBtnsBurger {
    display: none;
    align-items: center;
    button {
        border: none;
        background: none;
        font-size: 18px;
        color: #FFFFFF;
        cursor: pointer;
        border-radius: 10px;
        padding: inherit;
    }
    .active {
        font-weight: 700;
        color: $green;
    }
}

.half-underline {
    display: inline;
    position: relative;
    padding-bottom: 3px;
}

.contact {
    display: none;
}

.burger-visible {
    display: flex !important;
}