<div class="navBar">
    <a href="#landingPage">
        <img src="./../../../assets/img/logo.svg" alt="">
    </a>
    <div class="burger-menu">
        <img (click)="burgerMenu()" [ngStyle]="{'display': !burgerOpen ? 'flex' : 'none'}" src="./../../../assets/img/icons/burger-menu.svg" alt="">
        <img (click)="burgerMenu()" [ngStyle]="{'display': burgerOpen ? 'flex' : 'none'}" src="./../../../assets/img/icons/burger-menu-open.svg" alt="">
    </div>
    <div [ngClass]="burgerOpen ? 'burger-visible' : ''">
        @if (landingpage) {
            <div class="navLinks">
                <span class="half-underline">
                    <a href="#about">
                        {{daten.NavBar.aboutMe}}
                    </a>
                </span>
    
                <span class="half-underline">
                    <a href="#skills">
                        {{daten.NavBar.skills}}
                    </a>
                </span>
    
                <span class="half-underline">
                    <a href="#portfolio">
                        Portfolio
                    </a>
                </span>

                <span class="half-underline contact">
                    <a href="#contact">
                        Contact
                    </a>
                </span>

                <div class="languageBtnsBurger">
                    <button (click)="changeLanguageBtn('de')" [ngClass]="{'active': isActive}">
                        DE
                    </button>
                    <p class="BtnsSqare">/</p>
                    <button (click)="changeLanguageBtn('en')" [ngClass]="{'active': !isActive}">
                        EN
                    </button>
                </div>
            </div>
        }
        <div class="languageBtns">
            <button (click)="changeLanguageBtn('de')" [ngClass]="{'active': isActive}">
                DE
            </button>
            <button (click)="changeLanguageBtn('en')" [ngClass]="{'active': !isActive}">
                EN
            </button>
        </div>
    </div>
</div>