

@media (max-width: 1421px) {
    :root {
        --titleSize: 70px;
      }
   .titleDiv-2 {
        p:first-of-type {
            font-size: 72px;
        }

        p:last-of-type {
            font-size: 48px;
        }
   }

   .titleDiv-1 {
        p {
            font-size: 56px !important;
        }
    }
}

@media (max-width: 1210px) {
    .titleDiv-2 {
     p:first-of-type {
         font-size: 72px;
     }
 
     p:last-of-type {
         font-size: 48px;
     }
    }
}

@media (max-width: 1200px) {
    :root {
        --paddingLR: 50px;
    }
    .landingPageTitleHero {
        flex-direction: column;
        align-items: center;
    }
    .scrollDown {
        display: none !important;
    }
}
@media (max-width: 1030px) {
    .mySkills-left {
        column-gap: 44px !important;
        row-gap: 22px !important;
    }
}

@media (max-width: 1000px) {
    
    .navBar {
        background: $background;
        > div:last-of-type {
            position: absolute;
            top: 113px;
            z-index: 4;
            width: 100%;
            left: 0;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(2px);
        }
        .navLinks {
            flex-direction: column;
            align-items: start !important;
        }
        .BtnsSqare {
            display: flex !important;
        }
    }

    .contact {
        display: flex !important;
    }

    .burger-menu {
        display: flex !important;

        img {
            width: 100%;
        }
    }

    .landingImage-Div {
        img:first-of-type {
            padding-top: 240px;
        } 
    }

    .languageBtns {
        display: none !important;
    }

    .languageBtnsBurger {
        display: flex !important;
    }
}

@media (max-width: 900px) {
    .portfolioBtns {
        justify-content: space-between;
        width: 100%;
        gap: unset !important;
    }

    .landingImage, .landingImage-Div {
        width: 100% !important;
        padding-top: unset !important;
    }

    .landingImage-Div {
        img:first-of-type {
            width: 100%;
        }

        img:last-of-type {
            max-width: fit-content;
        }
    }

}



// Height Query bei w>1000px height=1320px

@media (max-height: 1320px) {
    
}