@import './font.scss';

/** Colors - Template **/

$purple: #9747FF;
$white: #FFFFFF;
$green: #70E61C;
$black: #000000;
$hoverCheckbox: #183771;
$blockedBtn: #B6B6B6;
$red: #E61C40;
$background: #141D2F;


:root {
  --maxWidth: 1920px;
  --paddingLR: 100px;
  --paddingTB: 124px;
  --gapTitle: 40px;
  --titleSize: 90px;
  --gap: 32px;
  --paddingNav: 37px;
  --backgroundShapes: fit-content;
}

// media Query
@import './mediaQuery.scss';
@import './mediaQuery1920px.scss';



// NOCH IN EINE MIXIN SCSS!!!
@mixin hover-padding($padding-hover, $bg-hover) {
  transition: padding 0.125s ease-in-out, background-color 0.3s ease;
  
  &:hover {
    padding: $padding-hover;
    background-color: $bg-hover;
  }
}


@mixin underline($width: 50%, $color: $purple) {
  :active{ 
  ::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: $width;
      height: 3px;
      background: $purple;
      border-radius: 3px 10px 10px 3px;
  }
}
}



.hover {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins';
  line-height: 1.2;
  color: $white;
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  button {
    cursor: pointer;
  }
  
}

body {
  background: $background;
  position: relative;
}


