<div class="footer">
    <div class="footer-logo-div">
        <div>
            <img src="./../../../assets/img/Logo-header.png" alt="">
        </div>
        
        <p>
            © Niclas Holzhey 2025
        </p>

        <div class="footer-links">
            <div>
                <a href="">
                    <img src="./../../../assets/img/icons/github.png" alt="">
                </a>
            </div>
            <div>
                <a href="">
                    <img src="./../../../assets/img/icons/mail.png" alt="">
                </a>
            </div>
            <div>
                <a href="">
                    <img src="./../../../assets/img/icons/linkedIn.png" alt="">
                </a>
            </div>
        </div>

    </div>

    <div class="legalNotice">
        <p>Legal Notice</p>
    </div>
</div>
