<div class="footer">
    <div class="footer-logo-div">
        <div class="hover">
            <a href="#landingPage">
                <img src="./../../../assets/img/Logo-header.png" alt="">
            </a>
        </div>
        
        <p>
            © Niclas Holzhey 2025
        </p>

        <div class="footer-links">
            @for (Link of daten.Links; track $index) {
                @if(Link.path == '#contact') {
                    <div>
                        <a href="{{Link.path}}">
                            <img src="./../../../assets/img/icons/{{Link.image}}.svg" alt="">
                        </a>
                    </div>
                }   @else {
                    <div>
                        <a href="{{Link.path}}" target="_blank">
                            <img src="./../../../assets/img/icons/{{Link.image}}.svg" alt="">
                        </a>
                    </div>
                }
            }
        </div>

    </div>

    <div class="legalNotice">
        <a routerLink="imprint" routerLinkActive="active">
            <p class="hover">{{daten.Legalnotice}}</p>
        </a>
    </div>
</div>
